
/*Content section style*/
.content{
  margin-top: 200px;
}
h2{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}
article{
  text-align: center;
  margin-bottom: 30px;
}
section p{
  text-align: justify;
  margin-bottom: 35px;
}
@media only screen and (max-width: 768px) {
  .description img{
    width: 100%;
  }
}
